.titile-page {
    background-image: url("images/donation9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px;
    text-align: center;

}

.title {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: "Inter", sans-serif;
}

.paragraph {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins"
}

.donate-now {
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
    background-color: #FF5959;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.donate-page {
    padding: 50px;
    text-align: center;
    margin-bottom: -20px;
}

.donate-title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-family: "Inter", sans-serif;
}

.doante-paragraph {
    color: #9E9E9E;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins"
}

.doante-amount {
    display: flex;
    justify-content: center;
    align-items: center;





}

.amount {
    padding: 20px 30px;
    background-color: #FAFAFA;
    color: #707070;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;

}

#border-200tk {
    border: 3px solid #FF5959;
}

.other-amount {

    width: 765px;
    height: 0px;
    border: 1px solid #dadada;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.others-taka {
    text-align: center;
    color: #707070;
}

.donate-us {
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
    background-color: #FF5959;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.donate-now-center {
    text-align: center;
}

.plan-page {
    padding: 50px;
    text-align: center;
    margin-bottom: -20px;
}

.plan-title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-family: "Inter", sans-serif;
}

.doante-para {
    color: #9E9E9E;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins"
}


.service-container {
    display: flex;
}

.box-1 {
    width: 360px;
    border-radius: 5px;
    text-align: start;
    padding: 65px 25px;
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
    background: #EDF5F6;
}



.box-2 {
    width: 360px;
    border-radius: 5px;
    text-align: start;
    padding: 65px 25px;
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
    background: #FFEEEE;
}

.box-3 {
    width: 360px;
    border-radius: 5px;
    text-align: start;
    padding: 65px 25px;
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
    background: #FFF4D6;
}



.box1-h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    margin-bottom: 16px;
}

.box-para {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #868383
}

#section-3 {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
}

.font-h1 {
    font-family: "Inter", sans-serif;
    font-size: 30px;
}

.reach-container {
    width: 809px;
    height: 200px;
    background: #fff4d6;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reach-container input {
    width: 275px;
    height: 45px;
    background: #d9d9d9;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    padding-left: 25px;
}

.reach-container button {
    width: 155px;
    height: 45px;
    background: #ff5959;
    border-radius: 0px 5px 5px 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-left: -5px;
    border: 0px;
}

.reach-title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-family: "Inter", sans-serif;
}

.reach-paragraph {
    color: #9E9E9E;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins"
}

.footer {
    color: #FF5959;
    background-color: #0B0D17;
    padding: 10px 20px;
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    font-style: initial;


}