.titile-page {
    background-image: url("images/donation9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px;
    text-align: center;

}

.title {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.paragraph {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.donate-now {
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
    background-color: #FF5959;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.donate-page {
    padding: 50px;
    text-align: center;
    margin-bottom: -20px;
}

.donate-title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.doante-paragraph {
    color: #9E9E9E;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.doante-amount {
    display: flex;
    justify-content: center;
    align-items: center;





}

.amount {
    padding: 20px 30px;
    background-color: #FAFAFA;
    color: #707070;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;

}

#border-200tk {
    border: 3px solid #FF5959;
}